.venv
**/__pycache__
**/*.pyc
.DS_Store
frontend/.DS_Store
.spyproject

# Couverture tests
**/.coverage
.coverage

# Documentation Sphinx
# docs/build/  # Temporairement commenté pour commiter la doc pré-générée
docs/source/_build/
